<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyAIAssistant</title>
    <link rel="stylesheet" type="text/css" href="static/MyStyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
          rel="stylesheet"><!--Poppins-->
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="static/images/Logo.png" class="logo">
            <nav>
                <ul>
                    <li><a href="http://localhost:5000/home">Home</a></li>
                    <li><a href="">Forum</a></li>
                    <li><a href="">Reference</a></li>
                    <li><a href="">Help</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="columnL">
                <h2 id="BannerHL1">AI-Powered</h2>
                <h2>Personal Assistant</h2>
                <p id="text1">Use the power of AI to speed up your workflow.</p>
                <p id="text2">Ask AI questions, and you will get professional answers in seconds.</p>
                <div><a href="http://localhost:5000/chatbox" class="StartButton">Get Started</a></div>
            </div>
            <div class="columnR">
                <img src="static/images/Robot.png", class="robot">
            </div>
        </div>
    </div>
</body>
</html>